<h1>Edit Day</h1>
<p>Edit times below</p>

<%= form_for @day, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :start_time, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :start_time, :class => 'text_field', value: @day.start_time %>
        <div class="time-buttons">

          <div class="hour">
            <span id="start_time_up">/\</span>
            <div id="start_time_hour">
              <%= @day.start_time.strftime('%H') %>
            </div>
            <span onclick="start_time_down()">\/</span>
          </div>


          <div class="minute">
            /\
            <br/>
            <%= @day.start_time.strftime('%M') %>
            <br/>
            \/
          </div>
        </div>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :end_time, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :end_time, :class => 'text_field', value: @day.end_time %>

        <div class="time-buttons">
          <div class="hour">
            /\
            <br/>
            <%= @day.end_time.strftime('%H') %>
            <br/>
            \/
          </div>

          <div class="minute">
            /\
            <br/>
            <%= @day.end_time.strftime('%M') %>
            <br/>
            \/
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  root_path, :class => 'btn' %>
    </div>
<% end %>

